<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.xiaojiben.mapper.SpringbootuserMapper">
  <resultMap id="BaseResultMap" type="online.xiaojiben.pojo.Springbootuser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="nativeplace" jdbcType="VARCHAR" property="nativeplace" />
  </resultMap>
</mapper>